fastapi==0.115.0
uvicorn==0.30.6
torch --index-url https://download.pytorch.org/whl/cpu
lightgbm==4.5.0
pandas==2.2.2
scikit-learn==1.5.1
pyyaml==6.0.1
sqlalchemy==2.0.32
psycopg2-binary==2.9.9
pyarrow==17.0.0
numpy==1.26.4
mlflow==2.15.1
pydantic==2.8.2
requests==2.32.3
pandapower==2.14.1
pypsa==0.27.1
python-multipart==0.0.9
